In [4]:
import numpy as np
import pandas as pd
import matplotlib as plt
import sklearn as sk

print(np.__version__)
print(pd.__version__)
print(plt.__version__)
print(sk.__version__)

1.11.3
0.19.2
2.0.0
0.18.1

In [10]:
import numpy 
import pandas 
import matplotlib 
import sklearn 

print(numpy.__version__)
print(pandas.__version__)
print(matplotlib.__version__)
print(sklearn.__version__)

1.11.3
0.19.2
2.0.0
0.18.1

In [12]:
days = 30
days = days + 3
days

33

In [13]:
days = 30
days += 3
days

33

In [18]:
print(8 == 8)
print(8 == 7)
print(8 != 7)
print(8 == "8") # False
print(False == "False") # False

True
False
True
False
False

In [19]:
print(1 == True)
print(2 == True) # False
print(0 == False)
print(2 >= True)
print(True & False)
print(True | False)

True
False
True
True
False
True

In [28]:
# list
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True

chicago_bulls = [team_name, wins, losses, win_percentage, is_champion]
chicago_bulls

print(type(chicago_bulls))

<class 'list'>

In [29]:
# tuple
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True

#chicago_bulls_list = [team_name, wins, losses, win_percentage, is_champion]
chicago_bulls_tuple = (team_name, wins, losses, win_percentage, is_champion)
chicago_bulls_tuple
# chicago_bulls_tuple = tuple(chicago_bulls_list)
print(type(chicago_bulls_tuple))

<class 'tuple'>

In [30]:
# dict
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True

chicago_bulls = {
    "team_name": team_name,
    "wins": wins,
    "losses": losses,
    "win_percentage": win_percentage,
    "is_champion": is_champion
}
chicago_bulls
print(type(chicago_bulls))

<class 'dict'>

In [32]:
#我們的問題
#.我想一次把這幾個距離從公里換算成英里
km_list = [3, 5, 10, 21, 42.195]
km_to_mile = 0.621371192
#mile_list = km_list * km_to_mile
#mile_list
print(type(km_list))
print(type(km_to_mile))

<class 'list'>
<class 'float'>

In [40]:
type(8.7)

float

In [39]:
print(type(8.7))
print(type(87))
print(type(8+7j))
print(type(8>7))
print(type("python"))

<class 'float'>
<class 'int'>
<class 'complex'>
<class 'bool'>
<class 'str'>

In [43]:
import numpy # 引入 numpy 套件

km_list = [3, 5, 10, 21, 42.195]
km_array = numpy.array(km_list)
print(type(km_array))
km_to_mile = 0.621371192
mile_array = km_array * km_to_mile
print(mile_array)
print(type(mile_array))

<class 'numpy.ndarray'>
[  1.86411358   3.10685596   6.21371192  13.04879503  26.21875745]
<class 'numpy.ndarray'>

In [20]:
#練習計算 BMI
#.請同學練習計算這五個人的 BMI
import numpy 
heights = [173, 168, 171, 189, 179]
weights = [65.4, 59.2, 63.6, 88.4, 68.7]
print(type(heights))
print(type(weights))
heights_array = numpy.array(heights)
print(heights_array)
weights_array = numpy.array(weights)
print(type(heights_array))
print(type(weights_array))
bmi=weights_array/((heights_array/100)**2)
print(bmi)

<class 'list'>
<class 'list'>
[173 168 171 189 179]
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
[ 21.85171573  20.97505669  21.75028214  24.7473475   21.44127836]

In [25]:
#ndarray 只能容許一個變數類型
#.同時儲存有數值，布林值，會被自動轉換為數值
#.同時儲存有數值，布林值與文字，會被自動轉換為文字
import numpy as np

my_np_array = np.array([1, True])
print(my_np_array)
print(type(my_np_array))
print(my_np_array.dtype)
my_np_array = np.array([1, True, "one"])
print(my_np_array)
print(type(my_np_array))
print(my_np_array.dtype)

[1 1]
<class 'numpy.ndarray'>
int32
['1' 'True' 'one']
<class 'numpy.ndarray'>
<U11

In [28]:
#ndarray 可以建立矩陣
import numpy as np

my_2d_array = np.array([[1, 3],
                        [2, 4]])

print(my_2d_array)
print(my_2d_array ** 2) # 矩陣也能完全適用 element-wise 運算

array([[1, 3],
       [2, 4]])

In [33]:
#使用.reshape來改變

import numpy as np

my_array = np.array([1,2,3,4,5,6,7,8])
my_array
print(my_array.reshape(4,2))

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

In [16]:
#選擇 ndarray 的元素
#.用索引值選擇

import numpy as np

my_np_array = np.array([1, 2, 3, 4])
print(my_np_array)
print(my_np_array[0])
print(my_np_array[1])
print(my_np_array[2])
print(my_np_array[3])

my_2d_array = np.array([[11, 33],
                        [22, 44]])
print(my_2d_array[0, 0])
print(my_2d_array[0, 1])
print(my_2d_array[1, 0])
print(my_2d_array[1, 1])

[1 2 3 4]
1
2
3
4
11
33
22
44

In [18]:
#了解外觀的屬性
#.size
#.shape
#.ndim
import numpy as np

my_np_array = np.array([1, 2, 3, 4])
print(my_np_array.size)
print(my_np_array.shape)
print(my_np_array.ndim)

print("---") # 分隔一下

my_2d_array = np.array([[1, 3],
                        [2, 4]])
print(my_2d_array.size)
print(my_2d_array.shape)
print(my_2d_array.ndim)

4
(4,)
1
---
4
(2, 2)
2

In [72]:
print(1.2+True)

2.2

In [73]:
True+5

6

In [74]:
False+1

1

In [78]:
"AAA"+" BBB"+" !"*3

'AAA BBB ! ! !'

In [85]:
#km = "42.195"
km =42.195
print("In order to become a marathon runner, you have to run " + str(km) + " kilometers in a race.") # TypeError
type(str(km))

In order to become a marathon runner, you have to run 42.195 kilometers in a race.

str

In [86]:
print(int(bool("True")))

1

In [92]:
x=True
print(type(x))
print(float(x))
print(int(x))
print(complex(x))
print(type(str(x)))
print(type(bool(123)))
print(type(bool(2-5j)))
print(type(bool(0)))

<class 'bool'>
1.0
1
(1+0j)
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [88]:
bool(-1)

True

In [96]:
print(True & True)
print(True & False)
print(False & True)
print(False & False)
print("---")
print(True | True)
print(True | False)
print(False | True)
print(False | False)

True
False
False
False
---
True
True
True
False

In [4]:
team_name = ["Chicago Bulls","gold state "]
wins = [72,73]
losses = [10,9]
win_percentage = [0.88,0.99]
is_champion = [True,False]
season=["1995-96","2015-16"]

great_nba_teams_dict = {
    "team_name": team_name,
    "wins": wins,
    "losses": losses,
    "win_percentage": win_percentage,
    "is_champion": is_champion
}
print(great_nba_teams_dict)

great_nba_teams_dict["team_name"]    #中括號內放key
great_nba_teams_dict["team_name"][0] #再選list裡面index[0]的值  
great_nba_teams_dict["wins"][1] #再選list裡面index[0]的值

print(great_nba_teams_dict["team_name"][0])
print(great_nba_teams_dict["wins"][1])


print(type(great_nba_teams_dict["team_name"][0]))
print(type(great_nba_teams_dict["wins"][1]))

{'team_name': ['Chicago Bulls', 'gold state '], 'wins': [72, 73], 'losses': [10, 9], 'win_percentage': [0.88, 0.99], 'is_champion': [True, False]}
Chicago Bulls
73
<class 'str'>
<class 'int'>

In [3]:
wins = [72,73]
losses = [10,9]
win_percentage = wins/(wins+losses)

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [7]:
import numpy as np
wins=np.array([72,73])
losses=np.array([10,9])
win_percentage=wins/(wins+losses)
win_percentage

array([ 0.87804878,  0.8902439 ])

In [8]:
km_list = [3, 5, 10, 21, 42.195]
km_to_mile = 0.621371192
mile_list = km_list * km_to_mile

TypeError: can't multiply sequence by non-int of type 'float'

In [9]:
#用迴圈
km_list = [3, 5, 10, 21, 42.195]
km_to_mile = 0.621371192
mile_list=[]
for km in km_list:
    mile_list.append(km*km_to_mile)

mile_list

[1.864113576, 3.10685596, 6.21371192, 13.048795032000001, 26.21875744644]

In [12]:
#用map()和lambda函數
km_list = [3, 5, 10, 21, 42.195]
mile_list=list(map(lambda x:x*0.621371192, km_list))
mile_list
print(type(mile_list))

<class 'list'>

In [13]:
import numpy # 引入 numpy 套件

km_list = [3, 5, 10, 21, 42.195]
km_array = numpy.array(km_list)  #轉換成ndarray
print(type(km_array))

km_to_mile = 0.621371192
mile_array = km_array * km_to_mile
print(mile_array)

<class 'numpy.ndarray'>
[  1.86411358   3.10685596   6.21371192  13.04879503  26.21875745]

In [13]:
import pandas as pd # 引用套件並縮寫為 pd

name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook"]
age = [19, 21, 20, 19, 21, 17, 30, 36, 90]

straw_hat_dict = {"name": name,
                  "age": age
}

straw_hat_df = pd.DataFrame(straw_hat_dict,columns=["age","name"]) # 改變欄位順序
print(type(name))
print(type(age))
print(type(straw_hat_dict))
print(type(straw_hat_df))
straw_hat_df

<class 'list'>
<class 'list'>
<class 'dict'>
<class 'pandas.core.frame.DataFrame'>

   age               name
0   19    Monkey D. Luffy
1   21       Roronoa Zoro
2   20               Nami
3   19              Usopp
4   21     Vinsmoke Sanji
5   17  Tony Tony Chopper
6   30         Nico Robin
7   36             Franky
8   90              Brook

In [17]:
#了解 data frame 的概觀
import pandas as pd # 引用套件並縮寫為 pd

name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook"]
age = [19, 21, 20, 19, 21, 17, 30, 36, 90]
is_male = [True, True, False, True, True, True, False, True, True] #是男性

straw_hat_dict = {"name": name,
                  "age": age,
                  "is_male": is_male
}

straw_hat_df = pd.DataFrame(straw_hat_dict)
print("---")
print(straw_hat_df.dtypes) #看欄位的type
print("---")
print(straw_hat_df)
print("---")
print(straw_hat_df.shape) # 回傳列數與欄數
print("---")
print(straw_hat_df.describe()) # 回傳描述性統計
print("---")
print(straw_hat_df.head(3)) # 回傳前三筆觀測值  預設前五筆
print("---")
print(straw_hat_df.tail(3)) # 回傳後三筆觀測值 預設後五筆
print("---")
print(straw_hat_df.columns) # 回傳欄位名稱

---
age         int64
is_male      bool
name       object
dtype: object
---
   age is_male               name
0   19    True    Monkey D. Luffy
1   21    True       Roronoa Zoro
2   20   False               Nami
3   19    True              Usopp
4   21    True     Vinsmoke Sanji
5   17    True  Tony Tony Chopper
6   30   False         Nico Robin
7   36    True             Franky
8   90    True              Brook
---
(9, 3)
---
             age
count   9.000000
mean   30.333333
std    23.205603
min    17.000000
25%    19.000000
50%    21.000000
75%    30.000000
max    90.000000
---
   age is_male             name
0   19    True  Monkey D. Luffy
1   21    True     Roronoa Zoro
2   20   False             Nami
---
   age is_male        name
6   30   False  Nico Robin
7   36    True      Franky
8   90    True       Brook
---
Index(['age', 'is_male', 'name'], dtype='object')

In [18]:
#讀取外部資料
#使用 pandas 套件的 .read_csv() 方法讀取 csv 檔案
import pandas as pd

url = "https://storage.googleapis.com/py_ds_basic/iris.csv" # 在雲端上儲存了一份 csv 檔案
iris_df = pd.read_csv(url)
iris_df.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [31]:
#了解 data frame 的概觀
import pandas as pd # 引用套件並縮寫為 pd

name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook"]
age = [19, 21, 20, 19, 21, 17, 30, 36, 90]
is_male = [True, True, False, True, True, True, False, True, True] #是男性

straw_hat_dict = {"name": name,
                  "age": age,
                  "is_male": is_male
}

straw_hat_df = pd.DataFrame(straw_hat_dict)
print("---")
print(straw_hat_df.dtypes) #看欄位的type
print("---")
print(straw_hat_df)
print("---")
print(straw_hat_df.ix[0,:]) #.ix屬性,第一個觀測值,所有的column!
print("---")
print(straw_hat_df.ix[:,"age"]) #.ix屬性,所有觀測值的"age"column!
print("---")
print(straw_hat_df.age) #.ix屬性,所有觀測值的"age"column!
print("---")
print(straw_hat_df.ix[0,"age"]) #.ix屬性
print("---")
print(straw_hat_df.ix[0:3,"age"]) #.ix屬性
print("---")

---
age         int64
is_male      bool
name       object
dtype: object
---
   age is_male               name
0   19    True    Monkey D. Luffy
1   21    True       Roronoa Zoro
2   20   False               Nami
3   19    True              Usopp
4   21    True     Vinsmoke Sanji
5   17    True  Tony Tony Chopper
6   30   False         Nico Robin
7   36    True             Franky
8   90    True              Brook
---
age                     19
is_male               True
name       Monkey D. Luffy
Name: 0, dtype: object
---
0    19
1    21
2    20
3    19
4    21
5    17
6    30
7    36
8    90
Name: age, dtype: int64
---
0    19
1    21
2    20
3    19
4    21
5    17
6    30
7    36
8    90
Name: age, dtype: int64
---
19
---
0    19
1    21
2    20
3    19
Name: age, dtype: int64
---

In [33]:
import pandas as pd

url = "https://storage.googleapis.com/py_ds_basic/iris.csv" # 在雲端上儲存了一份 csv 檔案
iris_df = pd.read_csv(url)
print(iris_df.head(3))
print(type(iris_df))
print("---")
print(type(iris_df.Species))
print("---")
print(type(iris_df.values))

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
<class 'pandas.core.frame.DataFrame'>
---
<class 'pandas.core.series.Series'>
---
<class 'numpy.ndarray'>

In [40]:
#了解 data frame 的概觀
import pandas as pd # 引用套件並縮寫為 pd

name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook"]
age = [19, 21, 20, 19, 21, 17, 30, 36, 90]
is_male = [True, True, False, True, True, True, False, True, True] #是男性

straw_hat_dict = {"name": name,
                  "age": age,
                  "is_male": is_male
}

straw_hat_df = pd.DataFrame(straw_hat_dict)
print("---")
print(straw_hat_df.dtypes) #看欄位的type
print("---")
print(straw_hat_df)
print("---")
print(straw_hat_df.age <30)
print("---")
print(straw_hat_df[straw_hat_df.age <30])
print("---")
print(straw_hat_df[straw_hat_df.is_male==False])
print("---")
print(straw_hat_df[(straw_hat_df.is_male==True) & (straw_hat_df.age >=30) ])

---
age         int64
is_male      bool
name       object
dtype: object
---
   age is_male               name
0   19    True    Monkey D. Luffy
1   21    True       Roronoa Zoro
2   20   False               Nami
3   19    True              Usopp
4   21    True     Vinsmoke Sanji
5   17    True  Tony Tony Chopper
6   30   False         Nico Robin
7   36    True             Franky
8   90    True              Brook
---
0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
Name: age, dtype: bool
---
   age is_male               name
0   19    True    Monkey D. Luffy
1   21    True       Roronoa Zoro
2   20   False               Nami
3   19    True              Usopp
4   21    True     Vinsmoke Sanji
5   17    True  Tony Tony Chopper
---
   age is_male        name
2   20   False        Nami
6   30   False  Nico Robin
---
   age is_male    name
7   36    True  Franky
8   90    True   Brook

In [41]:
#處理遺漏值
#利用 numpy.NaN 建立遺漏值
import pandas as pd # 引用套件並縮寫為 pd
import numpy as np

name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook", np.NaN]
age = [19, 21, 20, 19, 21, 17, 30, 36, np.NaN, np.NaN]
is_male = [True, True, False, True, True, np.NaN, False, True, True, np.NaN]

straw_hat_dict = {"name": name,
                  "age": age,
                  "is_male": is_male
}

straw_hat_df = pd.DataFrame(straw_hat_dict)
straw_hat_df

    age is_male               name
0  19.0    True    Monkey D. Luffy
1  21.0    True       Roronoa Zoro
2  20.0   False               Nami
3  19.0    True              Usopp
4  21.0    True     Vinsmoke Sanji
5  17.0     NaN  Tony Tony Chopper
6  30.0   False         Nico Robin
7  36.0    True             Franky
8   NaN    True              Brook
9   NaN     NaN                NaN

In [53]:
#合併
#pandas.concat() 方法
#練習將 straw_hat_sub_df_1 與 straw_hat_sub_df_2 水平合併起來
import pandas as pd # 引用套件並縮寫為 pd

name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook"]
age = [19, 21, 20, 19, 21, 17, 30, 36, 90]
is_male = [True, True, False, True, True, True, False, True, True]

straw_hat_dict = {"name": name,
                  "age": age,
                  "is_male": is_male
}

straw_hat_df = pd.DataFrame(straw_hat_dict)
print(straw_hat_df)
print("---")
straw_hat_sub_df_1 = straw_hat_df.ix[:, "age":"is_male"]
print(straw_hat_sub_df_1)
print("---")
straw_hat_sub_df_2 = straw_hat_df.ix[:, "name"]
print(straw_hat_sub_df_2)
print("---")
pd.concat([___, ___], axis = 1)

   age is_male               name
0   19    True    Monkey D. Luffy
1   21    True       Roronoa Zoro
2   20   False               Nami
3   19    True              Usopp
4   21    True     Vinsmoke Sanji
5   17    True  Tony Tony Chopper
6   30   False         Nico Robin
7   36    True             Franky
8   90    True              Brook
---
   age is_male
0   19    True
1   21    True
2   20   False
3   19    True
4   21    True
5   17    True
6   30   False
7   36    True
8   90    True
---
0      Monkey D. Luffy
1         Roronoa Zoro
2                 Nami
3                Usopp
4       Vinsmoke Sanji
5    Tony Tony Chopper
6           Nico Robin
7               Franky
8                Brook
Name: name, dtype: object
---

                name               name
0    Monkey D. Luffy    Monkey D. Luffy
1       Roronoa Zoro       Roronoa Zoro
2               Nami               Nami
3              Usopp              Usopp
4     Vinsmoke Sanji     Vinsmoke Sanji
5  Tony Tony Chopper  Tony Tony Chopper
6         Nico Robin         Nico Robin
7             Franky             Franky
8              Brook              Brook

In [62]:
import pandas as pd

url = "https://storage.googleapis.com/py_ds_basic/iris.csv" # 在雲端上儲存了一份 csv 檔案
iris_df = pd.read_csv(url)
print(type(iris_df))
print("---")
print(iris_df.shape)
print("---")
print(iris_df.head())
print("---")

<class 'pandas.core.frame.DataFrame'>
---
(150, 5)
---
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
---

In [66]:
import pandas as pd

url = "https://storage.googleapis.com/py_ds_basic/iris.tsv" # 在雲端上儲存了一份 tsv 檔案
iris_df = pd.read_table(url,sep="\t")                       # read_table 

print("---")
print(iris_df.head())
print("---")

---
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
---

In [69]:
import pandas as pd

url = "https://storage.googleapis.com/py_ds_basic/iris.xlsx" # 在雲端上儲存了一份xlsx 檔案
iris_df = pd.read_excel(url)            # read_excel

print("---")
print(iris_df.head())
print("---")

---
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
---

In [70]:
import pandas as pd

url = "https://storage.googleapis.com/py_ds_basic/iris.json" # 在雲端上儲存了一份xlsx 檔案
iris_df = pd.read_json(url)            # read_json

print("---")
print(iris_df.head())
print("---")

---
   Petal.Length  Petal.Width  Sepal.Length  Sepal.Width Species
0           1.4          0.2           5.1          3.5  setosa
1           1.4          0.2           4.9          3.0  setosa
2           1.3          0.2           4.7          3.2  setosa
3           1.5          0.2           4.6          3.1  setosa
4           1.4          0.2           5.0          3.6  setosa
---

In [75]:
import pandas as pd

url = "https://storage.googleapis.com/py_ds_basic/iris.json" # 在雲端上儲存了一份xlsx 檔案
iris_df = pd.read_json(url)            # read_json

print("---")
print(iris_df.head())
print("---")
print(iris_df.shape) # 回傳列數與欄數
print("---")
print(iris_df.columns) # 回傳欄位名稱
print("---")
print(iris_df.describe()) # 回傳描述性統計
print("---")
print(iris_df.Species)
print("---")
print(iris_df.ix[:,"Species"])
print("---")
print(iris_df.Species)

---
   Petal.Length  Petal.Width  Sepal.Length  Sepal.Width Species
0           1.4          0.2           5.1          3.5  setosa
1           1.4          0.2           4.9          3.0  setosa
2           1.3          0.2           4.7          3.2  setosa
3           1.5          0.2           4.6          3.1  setosa
4           1.4          0.2           5.0          3.6  setosa
---
(150, 5)
---
Index(['Petal.Length', 'Petal.Width', 'Sepal.Length', 'Sepal.Width',
       'Species'],
      dtype='object')
---
       Petal.Length  Petal.Width  Sepal.Length  Sepal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       3.758000     1.199333      5.843333     3.057333
std        1.765298     0.762238      0.828066     0.435866
min        1.000000     0.100000      4.300000     2.000000
25%        1.600000     0.300000      5.100000     2.800000
50%        4.350000     1.300000      5.800000     3.000000
75%        5.100000     1.800000      6.400000     3.300000
max        6.900000     2.500000      7.900000     4.400000
---
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, dtype: object
---
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, dtype: object
---
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, dtype: object

In [76]:
import pandas as pd

url = "https://storage.googleapis.com/py_ds_basic/iris.json" # 在雲端上儲存了一份xlsx 檔案
iris_df = pd.read_json(url)            # read_json

print("---")
print(iris_df.Species)

---
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, dtype: object

In [77]:
print(iris_df.ix[:,"Sepal.Length"])
print("---")

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
      ...
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: Sepal.Length, dtype: float64
---

In [81]:
import pandas as pd

url = "https://storage.googleapis.com/py_ds_basic/iris.csv" # 在雲端上儲存了一份 csv 檔案
iris_df = pd.read_csv(url)
type(iris_df.values)
iris_df.index
iris_df.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [87]:
import pandas as pd

url = "https://storage.googleapis.com/py_ds_basic/iris.csv" # 在雲端上儲存了一份 csv 檔案
iris_df = pd.read_csv(url)
iris_df
print(iris_df.sort_index(axis=0,ascending=False)) # axis=0 以觀測值的方向去排;ascending=False 不要遞增

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
149           5.9          3.0           5.1          1.8  virginica
148           6.2          3.4           5.4          2.3  virginica
147           6.5          3.0           5.2          2.0  virginica
146           6.3          2.5           5.0          1.9  virginica
145           6.7          3.0           5.2          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
143           6.8          3.2           5.9          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
141           6.9          3.1           5.1          2.3  virginica
140           6.7          3.1           5.6          2.4  virginica
139           6.9          3.1           5.4          2.1  virginica
138           6.0          3.0           4.8          1.8  virginica
137           6.4          3.1           5.5          1.8  virginica
136           6.3          3.4           5.6          2.4  virginica
135           7.7          3.0           6.1          2.3  virginica
134           6.1          2.6           5.6          1.4  virginica
133           6.3          2.8           5.1          1.5  virginica
132           6.4          2.8           5.6          2.2  virginica
131           7.9          3.8           6.4          2.0  virginica
130           7.4          2.8           6.1          1.9  virginica
129           7.2          3.0           5.8          1.6  virginica
128           6.4          2.8           5.6          2.1  virginica
127           6.1          3.0           4.9          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
125           7.2          3.2           6.0          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
123           6.3          2.7           4.9          1.8  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
27            5.2          3.5           1.5          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
25            5.0          3.0           1.6          0.2     setosa
24            4.8          3.4           1.9          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
22            4.6          3.6           1.0          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
20            5.4          3.4           1.7          0.2     setosa
19            5.1          3.8           1.5          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
17            5.1          3.5           1.4          0.3     setosa
16            5.4          3.9           1.3          0.4     setosa
15            5.7          4.4           1.5          0.4     setosa
14            5.8          4.0           1.2          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
12            4.8          3.0           1.4          0.1     setosa
11            4.8          3.4           1.6          0.2     setosa
10            5.4          3.7           1.5          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
8             4.4          2.9           1.4          0.2     setosa
7             5.0          3.4           1.5          0.2     setosa
6             4.6          3.4           1.4          0.3     setosa
5             5.4          3.9           1.7          0.4     setosa
4             5.0          3.6           1.4          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

In [88]:
import pandas as pd

url = "https://storage.googleapis.com/py_ds_basic/iris.csv" # 在雲端上儲存了一份 csv 檔案
iris_df = pd.read_csv(url)
iris_df
print(iris_df.sort_index(axis=1,ascending=False)) # axis=1 以變數名稱開頭的順序去排;ascending=False 不要遞增

       Species  Sepal.Width  Sepal.Length  Petal.Width  Petal.Length
0       setosa          3.5           5.1          0.2           1.4
1       setosa          3.0           4.9          0.2           1.4
2       setosa          3.2           4.7          0.2           1.3
3       setosa          3.1           4.6          0.2           1.5
4       setosa          3.6           5.0          0.2           1.4
5       setosa          3.9           5.4          0.4           1.7
6       setosa          3.4           4.6          0.3           1.4
7       setosa          3.4           5.0          0.2           1.5
8       setosa          2.9           4.4          0.2           1.4
9       setosa          3.1           4.9          0.1           1.5
10      setosa          3.7           5.4          0.2           1.5
11      setosa          3.4           4.8          0.2           1.6
12      setosa          3.0           4.8          0.1           1.4
13      setosa          3.0           4.3          0.1           1.1
14      setosa          4.0           5.8          0.2           1.2
15      setosa          4.4           5.7          0.4           1.5
16      setosa          3.9           5.4          0.4           1.3
17      setosa          3.5           5.1          0.3           1.4
18      setosa          3.8           5.7          0.3           1.7
19      setosa          3.8           5.1          0.3           1.5
20      setosa          3.4           5.4          0.2           1.7
21      setosa          3.7           5.1          0.4           1.5
22      setosa          3.6           4.6          0.2           1.0
23      setosa          3.3           5.1          0.5           1.7
24      setosa          3.4           4.8          0.2           1.9
25      setosa          3.0           5.0          0.2           1.6
26      setosa          3.4           5.0          0.4           1.6
27      setosa          3.5           5.2          0.2           1.5
28      setosa          3.4           5.2          0.2           1.4
29      setosa          3.2           4.7          0.2           1.6
..         ...          ...           ...          ...           ...
120  virginica          3.2           6.9          2.3           5.7
121  virginica          2.8           5.6          2.0           4.9
122  virginica          2.8           7.7          2.0           6.7
123  virginica          2.7           6.3          1.8           4.9
124  virginica          3.3           6.7          2.1           5.7
125  virginica          3.2           7.2          1.8           6.0
126  virginica          2.8           6.2          1.8           4.8
127  virginica          3.0           6.1          1.8           4.9
128  virginica          2.8           6.4          2.1           5.6
129  virginica          3.0           7.2          1.6           5.8
130  virginica          2.8           7.4          1.9           6.1
131  virginica          3.8           7.9          2.0           6.4
132  virginica          2.8           6.4          2.2           5.6
133  virginica          2.8           6.3          1.5           5.1
134  virginica          2.6           6.1          1.4           5.6
135  virginica          3.0           7.7          2.3           6.1
136  virginica          3.4           6.3          2.4           5.6
137  virginica          3.1           6.4          1.8           5.5
138  virginica          3.0           6.0          1.8           4.8
139  virginica          3.1           6.9          2.1           5.4
140  virginica          3.1           6.7          2.4           5.6
141  virginica          3.1           6.9          2.3           5.1
142  virginica          2.7           5.8          1.9           5.1
143  virginica          3.2           6.8          2.3           5.9
144  virginica          3.3           6.7          2.5           5.7
145  virginica          3.0           6.7          2.3           5.2
146  virginica          2.5           6.3          1.9           5.0
147  virginica          3.0           6.5          2.0           5.2
148  virginica          3.4           6.2          2.3           5.4
149  virginica          3.0           5.9          1.8           5.1

[150 rows x 5 columns]

In [92]:
import pandas as pd

url = "https://storage.googleapis.com/py_ds_basic/iris.csv" # 在雲端上儲存了一份 csv 檔案
iris_df = pd.read_csv(url)
iris_df
#print(iris_df.sort_values(by="Sepal.Length")) #  照Sepal.Length的大小去排
print(iris_df.sort_values(by="Sepal.Length",ascending=False)) #  照Sepal.Length的大小去排

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
131           7.9          3.8           6.4          2.0   virginica
135           7.7          3.0           6.1          2.3   virginica
122           7.7          2.8           6.7          2.0   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
105           7.6          3.0           6.6          2.1   virginica
130           7.4          2.8           6.1          1.9   virginica
107           7.3          2.9           6.3          1.8   virginica
125           7.2          3.2           6.0          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
129           7.2          3.0           5.8          1.6   virginica
102           7.1          3.0           5.9          2.1   virginica
50            7.0          3.2           4.7          1.4  versicolor
120           6.9          3.2           5.7          2.3   virginica
52            6.9          3.1           4.9          1.5  versicolor
139           6.9          3.1           5.4          2.1   virginica
141           6.9          3.1           5.1          2.3   virginica
143           6.8          3.2           5.9          2.3   virginica
76            6.8          2.8           4.8          1.4  versicolor
112           6.8          3.0           5.5          2.1   virginica
86            6.7          3.1           4.7          1.5  versicolor
77            6.7          3.0           5.0          1.7  versicolor
140           6.7          3.1           5.6          2.4   virginica
144           6.7          3.3           5.7          2.5   virginica
108           6.7          2.5           5.8          1.8   virginica
145           6.7          3.0           5.2          2.3   virginica
124           6.7          3.3           5.7          2.1   virginica
65            6.7          3.1           4.4          1.4  versicolor
58            6.6          2.9           4.6          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
..            ...          ...           ...          ...         ...
49            5.0          3.3           1.4          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
93            5.0          2.3           3.3          1.0  versicolor
35            5.0          3.2           1.2          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
7             5.0          3.4           1.5          0.2      setosa
60            5.0          2.0           3.5          1.0  versicolor
4             5.0          3.6           1.4          0.2      setosa
57            4.9          2.4           3.3          1.0  versicolor
1             4.9          3.0           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
34            4.9          3.1           1.5          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
106           4.9          2.5           4.5          1.7   virginica
11            4.8          3.4           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
24            4.8          3.4           1.9          0.2      setosa
45            4.8          3.0           1.4          0.3      setosa
12            4.8          3.0           1.4          0.1      setosa
29            4.7          3.2           1.6          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
22            4.6          3.6           1.0          0.2      setosa
6             4.6          3.4           1.4          0.3      setosa
47            4.6          3.2           1.4          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
38            4.4          3.0           1.3          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
13            4.3          3.0           1.1          0.1      setosa

[150 rows x 5 columns]

In [100]:
import pandas as pd # 引用套件並縮寫為 pd

name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook"]
age = [19, 21, 20, 19, 21, 17, 30, 36, 90]
is_male = [True, True, False, True, True, True, False, True, True]
straw_hat_dict = {"name": name,
                  "age": age,
                  "is_male": is_male
}

straw_hat_df = pd.DataFrame(straw_hat_dict, columns = ["name", "age", "is_male"])
#straw_hat_df.sort_index(axis=1,ascending=True) 
straw_hat_df.sort_index(axis=1,ascending=False) 
straw_hat_df.sort_values(by="age",ascending=False) #"age"遞減

                name  age is_male
8              Brook   90    True
7             Franky   36    True
6         Nico Robin   30   False
1       Roronoa Zoro   21    True
4     Vinsmoke Sanji   21    True
2               Nami   20   False
0    Monkey D. Luffy   19    True
3              Usopp   19    True
5  Tony Tony Chopper   17    True

In [116]:
#.iloc()：照位置看
#.loc()：照索引值
#.ix()：索引值在混合情況下，索引值為整數時如 .iloc()，為文字時如 .loc()


import pandas as pd
import numpy as np
s=pd.Series(np.zeros(10),index=[49,48,47,46,45,1,2,3,4,5])
s
s.iloc[0:3]# 49 48 47 前三筆
s.loc[:3] #49 48 47 46 45 1 2 3 到index為3
s.ix[:3] #49 48 47 46 45 1 2 3 
s.iloc[0:6]# 49 48 47 46 45 1 前六筆
#s.loc[:6] #ValueError 
#s.ix[:6] #ValueError

49    0.0
48    0.0
47    0.0
46    0.0
45    0.0
1     0.0
dtype: float64

In [121]:

import pandas as pd
import numpy as np
w=pd.Series(np.zeros(6),index=["a","b","c","d","e",1])
w
w.ix[:"c"]

a    0.0
b    0.0
c    0.0
dtype: float64

In [122]:
import pandas as pd
import numpy as np
w=pd.Series(np.zeros(6),index=["a","b","c","d","e",1])
w
w.ix[:1]

a    0.0
dtype: float64

In [138]:
import pandas as pd # 引用套件並縮寫為 pd
import numpy as np

name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook", np.NaN]
age = [19, 21, 20, 19, 21, 17, 30, 36, np.NaN, np.NaN]
is_male = [True, True, False, True, True, np.NaN, False, True, True, np.NaN]

straw_hat_dict = {"name": name,
                  "age": age,
                  "is_male": is_male
}

straw_hat_df = pd.DataFrame(straw_hat_dict)
straw_hat_df.dropna()

    age is_male             name
0  19.0    True  Monkey D. Luffy
1  21.0    True     Roronoa Zoro
2  20.0   False             Nami
3  19.0    True            Usopp
4  21.0    True   Vinsmoke Sanji
6  30.0   False       Nico Robin
7  36.0    True           Franky

In [134]:
straw_hat_df.dropna(how='any')

    age is_male             name
0  19.0    True  Monkey D. Luffy
1  21.0    True     Roronoa Zoro
2  20.0   False             Nami
3  19.0    True            Usopp
4  21.0    True   Vinsmoke Sanji
6  30.0   False       Nico Robin
7  36.0    True           Franky

In [136]:
straw_hat_df.dropna(how='all')

    age is_male               name
0  19.0    True    Monkey D. Luffy
1  21.0    True       Roronoa Zoro
2  20.0   False               Nami
3  19.0    True              Usopp
4  21.0    True     Vinsmoke Sanji
5  17.0     NaN  Tony Tony Chopper
6  30.0   False         Nico Robin
7  36.0    True             Franky
8   NaN    True              Brook

In [137]:
straw_hat_df

    age is_male               name
0  19.0    True    Monkey D. Luffy
1  21.0    True       Roronoa Zoro
2  20.0   False               Nami
3  19.0    True              Usopp
4  21.0    True     Vinsmoke Sanji
5  17.0     NaN  Tony Tony Chopper
6  30.0   False         Nico Robin
7  36.0    True             Franky
8   NaN    True              Brook
9   NaN     NaN                NaN

In [140]:
straw_hat_df

    age is_male               name
0  19.0    True    Monkey D. Luffy
1  21.0    True       Roronoa Zoro
2  20.0   False               Nami
3  19.0    True              Usopp
4  21.0    True     Vinsmoke Sanji
5  17.0     NaN  Tony Tony Chopper
6  30.0   False         Nico Robin
7  36.0    True             Franky
8   NaN    True              Brook
9   NaN     NaN                NaN

In [167]:
import pandas as pd # 引用套件並縮寫為 pd
import numpy as np

name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook", np.NaN]
age = [19, 21, 20, 19, 21, 17, 30, 36, np.NaN, np.NaN]
is_male = [True, True, False, True, True, np.NaN, False, True, True, np.NaN]

straw_hat_dict = {"name": name,
                  "age": age,
                  "is_male": is_male
}


#straw_hat_df.is_male=straw_hat_df.is_male.fillna("True")
straw_hat_df

    age  is_male               name
0  19.0     19.0    Monkey D. Luffy
1  21.0     21.0       Roronoa Zoro
2  20.0     20.0               Nami
3  19.0     19.0              Usopp
4  21.0     21.0     Vinsmoke Sanji
5  17.0     17.0  Tony Tony Chopper
6  30.0     30.0         Nico Robin
7  36.0     36.0             Franky
8  90.0      1.0              Brook
9  90.0      1.0                NaN

In [161]:
straw_hat_df.age=straw_hat_df.age.fillna(90)
straw_hat_df.age

0    19.0
1    21.0
2    20.0
3    19.0
4    21.0
5    17.0
6    30.0
7    36.0
8    90.0
9    90.0
Name: age, dtype: float64

In [149]:
#檢視相異值個數
straw_hat_df.is_male.value_counts()

1.0     2
21.0    2
19.0    2
36.0    1
30.0    1
17.0    1
20.0    1
Name: is_male, dtype: int64

In [172]:
import pandas as pd # 引用套件並縮寫為 pd
import numpy as np

name1 = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook", np.NaN]
age1 = [19, 21, 20, 19, 21, 17, 30, 36, np.NaN, np.NaN]
is_male1 = [True, True, False, True, True, np.NaN, False, True, True, np.NaN]

straw_hat_dict1 = {"name": name1,
                  "age": age1,
                  "is_male": is_male1
}
straw_hat_df1 = pd.DataFrame(straw_hat_dict1, columns = ["name", "age", "is_male"])

straw_hat_df1.is_male = straw_hat_df1.is_male.fillna(True)
#straw_hat_df.is_male=straw_hat_df.is_male.fillna("True")
straw_hat_df1

                name   age is_male
0    Monkey D. Luffy  19.0    True
1       Roronoa Zoro  21.0    True
2               Nami  20.0   False
3              Usopp  19.0    True
4     Vinsmoke Sanji  21.0    True
5  Tony Tony Chopper  17.0    True
6         Nico Robin  30.0   False
7             Franky  36.0    True
8              Brook   NaN    True
9                NaN   NaN    True

In [1]:
my_seq = list(range(1, 11))
for iterator in my_seq:
    if (iterator % 2 == 0):
        print(iterator, "是偶數")
    else:
        print(iterator, "是奇數")

1 是奇數
2 是偶數
3 是奇數
4 是偶數
5 是奇數
6 是偶數
7 是奇數
8 是偶數
9 是奇數
10 是偶數

In [2]:
for i in range(1,11):
    if i %2 ==1:
        print(i,"是奇數")
    else:
        print(i,"是偶數")

1 是奇數
2 是偶數
3 是奇數
4 是偶數
5 是奇數
6 是偶數
7 是奇數
8 是偶數
9 是奇數
10 是偶數

In [11]:
import random

weather = ["晴天", "陰天", "雨天"]
for i in weather:
    if i=="晴天":
        print(i,"去戶外跑步")
    else:
        print(i,"去健身房")
        
print(weather[0])
print(weather[1])
print(weather[2])

print(random.randint(0,2))

晴天 去戶外跑步
陰天 去健身房
雨天 去健身房
晴天
陰天
雨天
2

In [17]:
import random

weather = ["晴天", "陰天", "雨天"]
#print(random.randint(0,2))
random_weather=weather[random.randint(0,2)]
random_weather

'雨天'

In [40]:
import random

weather = ["晴天", "陰天", "雨天"]
#print(random.randint(0,len(weather)-1))

random_weather=weather[random.randint(0,len(weather)-1)]
if random_weather=="晴天":
    print("天氣是",random_weather,"去戶外跑步")
else:    
    print("天氣是",random_weather,"去健身房")

天氣是 晴天 去戶外跑步

In [26]:
my_seq = list(range(1,11))
for iterator in my_seq:
    if (iterator % 3 == 0):
        print(iterator, "可以被 3 整除")
    elif (iterator % 3 ==1):
        print(iterator, "除以 3 餘數是 1")
    else:
        print(iterator, "除以 3 餘數是 2")

1 除以 3 餘數是 1
2 除以 3 餘數是 2
3 可以被 3 整除
4 除以 3 餘數是 1
5 除以 3 餘數是 2
6 可以被 3 整除
7 除以 3 餘數是 1
8 除以 3 餘數是 2
9 可以被 3 整除
10 除以 3 餘數是 1

In [67]:
import random
weather = ["晴天", "多雲", "毛毛雨", "狂風", "暴雨", "下雪", "打雷閃電"]
random_weather=weather[random.randint(0,len(weather)-1)]


#if (random_weather=="晴天")|(random_weather=="多雲"):
if random_weather in ["晴天","多雲"]:
    print("天氣是",random_weather,"去戶外跑步")
elif random_weather=="毛毛雨":    
    print("天氣是",random_weather,"去健身房")
else:
    print("天氣是",random_weather,"當沙發馬鈴薯")

天氣是 暴雨 當沙發馬鈴薯

In [28]:
#練習：晴天或多雲印"去戶外跑步"，毛毛雨印"去健身房"，否則印"當沙發馬鈴薯"
weather = ["晴天", "多雲", "毛毛雨", "狂風", "暴雨", "下雪", "打雷閃電"]
for i in weather:
    if (i == "晴天" or "多雲"):
        print(i, "去戶外跑步")
    elif (i == "毛毛雨"):
        print(i, "去健身房")
    else:
        print(i, "當沙發馬鈴薯")

晴天 去戶外跑步
多雲 去戶外跑步
毛毛雨 去戶外跑步
狂風 去戶外跑步
暴雨 去戶外跑步
下雪 去戶外跑步
打雷閃電 去戶外跑步

In [29]:
#讓迴圈更有彈性
#break 描述
weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for weekday in weekdays:
    if weekday == "Thursday":
        break
    else:
        print(weekday)

Sunday
Monday
Tuesday
Wednesday

In [30]:
#讓迴圈更有彈性（2）
#continue 描述
weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for weekday in weekdays:
    if weekday == "Thursday":
        continue
    else:
        print(weekday)

Sunday
Monday
Tuesday
Wednesday
Friday
Saturday

In [77]:
#讓迴圈更有彈性（3）
#練習：印出週間工作日
weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for weekday in weekdays:
    if weekday in ["Sunday","Saturday"]:
        continue
    else:
        print(weekday)

Monday
Tuesday
Wednesday
Thursday
Friday

In [72]:
weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for weekday in weekdays:
    #if (weekday != "Sunday") and (weekday !="Saturday"):
    if weekday not in ["Sunday","Saturday"]:
        print(weekday)
    #else:
        #print("")

Monday
Tuesday
Wednesday
Thursday
Friday

In [78]:
#numbers=[1,2,3,5,7,9,11,13,17,19,23,29,31,37,41,43,47,51,53,59,51,67,71,73,79.83,87]
for i in range (1,88):
    if (87 % i == 0):
        print(i)

1
3
29
87

In [82]:
ans_list=[]
for i in range(1,88):
    if (87%i==0):
        ans_list.append(i)
    else:
        continue
print(ans_list)

[1, 3, 29, 87]

In [84]:
#內建函數
distances = [1.6, 3, 5, 10, 21, 42.125]

# 應用函數
print(max(distances)) # 最長的距離
print(min(distances)) # 最短的距離
print(len(distances)) # 總共有幾個距離
print(sorted(distances, reverse = True)) # 遞減排序
print(sorted(distances)) # 遞增排序

42.125
1.6
6
[42.125, 21, 10, 5, 3, 1.6]
[1.6, 3, 5, 10, 21, 42.125]

In [87]:
def squared(x):
    '''
    將輸入的數字平方之後回傳
    '''
    y = x**2
    return y

print(help(squared))
squared(3)

Help on function squared in module __main__:

squared(x)
    將輸入的數字平方之後回傳

None

9

In [88]:
def squared(x):
    '''
    將輸入的數字平方之後回傳
    '''
    y = x**2
    return y

help(squared)

Help on function squared in module __main__:

squared(x)
    將輸入的數字平方之後回傳

In [89]:
def squared(x):
    '''
    將輸入的數字平方之後回傳
    '''
    y = x**2
    return y

squared(3)

9

In [96]:
def sgn(x):
    '''
    將輸入的數字平方之後回傳
    '''
    if x < 0:
        return -1
    elif x>0:
        return 1
    else:
        return 0

sgn(-1.1)

-1

In [97]:
import math # 要使用 pi 得引入套件 math
math.pi

3.141592653589793

In [98]:
import math # 要使用 pi 得引入套件 math

# 定義自訂函數
def circle_calculate(radius, is_area = True): # 給預設值為True
    '''
    依據輸入的半徑與 is_area 參數，計算圓形的面積或周長
    '''
    circle_area = math.pi * radius**2
    circle_circum = 2 * math.pi * radius
    if is_area == True:
        return circle_area
    else:
        return circle_circum

# 呼叫自訂函數
help(circle_calculate) # 查詢自訂函數
my_radius = 3
print(circle_calculate(my_radius)) # 預設回傳面積
print(circle_calculate(my_radius, is_area = False)) # 指定參數回傳周長

Help on function circle_calculate in module __main__:

circle_calculate(radius, is_area=True)
    依據輸入的半徑與 is_area 參數，計算圓形的面積或周長

28.274333882308138
18.84955592153876

In [102]:
# 在 return 後面將多個值用逗號 , 隔開就會回傳一個 tuple
import math # 要使用 pi 得引入套件 math

# 定義自訂函數
def circle_calculate(radius):
    '''
    依據輸入的半徑同時計算並回傳圓形的面積與周長
    '''
    circle_area = math.pi * radius**2
    circle_circum = 2 * math.pi * radius
    return circle_area, circle_circum

# 呼叫自訂函數
my_radius = 3
print(circle_calculate(my_radius))
print(circle_calculate(my_radius)[0])
print(circle_calculate(my_radius)[1])

(28.274333882308138, 18.84955592153876)
28.274333882308138
18.84955592153876

In [101]:
# 自訂函數（6）
# 小技巧：便利的指派
a = 8
b = 7
print(a, b)
a, b = b, a
print(a, b)

8 7
7 8

In [103]:
a = 8
b = 7
print(a, b)
tmp=a
a=b
b=tmp
print(a, b)

8 7
7 8

In [104]:
#自訂函數（7）
#交換排序法（遞增）
import random # 呼叫函數時使用隨機整數

# 定義自訂函數
def exchange_sort(input_list):
    '''
    依據輸入的 list 遞增排序 list 中的數字後回傳。
    '''
    # 遞增排序
    for i in range(0, len(input_list) - 1):
        for j in range(i + 1, len(input_list)):
            # 如果前一個數字比後一個數字大則交換位置
            if input_list[i] > input_list[j]:
                input_list[i], input_list[j] = input_list[j], input_list[i]

    return input_list

# 呼叫自訂函數
my_list = random.sample(range(0, 100), 10) # 產生一組隨機數
print(my_list) # 看看未排序前
print(exchange_sort(my_list))

[43, 14, 9, 94, 54, 49, 77, 19, 1, 18]
[1, 9, 14, 18, 19, 43, 49, 54, 77, 94]

In [110]:
#練習：在交換排序法中增加一個參數：reverse，預設 reverse = False 遞增排序
# 定義自訂函數
def exchange_sort(input_list,reverse = False):
    '''
    依據輸入的 list 遞增排序 list 中的數字後回傳。
    '''
    if reverse == False:
        # 遞增排序
        for i in range(0, len(input_list) - 1):
            for j in range(i + 1, len(input_list)):
                # 如果前一個數字比後一個數字大則交換位置
                if input_list[i] > input_list[j]:
                    input_list[i], input_list[j] = input_list[j], input_list[i]
        return input_list
    elif reverse == True:
        # 遞增排序
        for i in range(0, len(input_list) - 1):
            for j in range(i + 1, len(input_list)):
                # 如果前一個數字比後一個數字小則交換位置
                if input_list[i] < input_list[j]:
                    input_list[i], input_list[j] = input_list[j], input_list[i]
        return input_list
    

# 呼叫自訂函數
my_list = random.sample(range(0, 100), 10) # 產生一組隨機數
print(my_list) # 看看未排序前
print(exchange_sort(my_list)) # 看看未排序前
print(exchange_sort(my_list,reverse = True)) # 看看未排序前

[12, 32, 7, 44, 60, 34, 54, 30, 6, 50]
[6, 7, 12, 30, 32, 34, 44, 50, 54, 60]
[60, 54, 50, 44, 34, 32, 30, 12, 7, 6]

In [113]:
i=1
while i<88:
    if 87%i==0:
        print(i)
    i=i+1

1
3
29
87

In [112]:
i=1
while i < 88:
    if 87 % i == 0:
        print(i)
    i += 1

1
3
29
87

In [117]:
def squared(x):
    try:
        return x**2
    except:
        print("please input number")
squared(3)

9

In [119]:
import math # 要使用 pi 得引入套件 math

# 定義自訂函數
def circle_calculate(radius):
    '依據輸入的半徑同時計算並回傳圓形的面積或周長' # 單行的 docstring
    try:
        circle_area = math.pi * radius**2
        circle_circum = 2 * math.pi * radius
        return circle_area, circle_circum
    except:
        print("請輸入數值。")

# 呼叫自訂函數
my_radius = "3"
circle_calculate(my_radius)

(28.274333882308138, 18.84955592153876)

In [128]:
def divide(numerator, denominator):
    try:
        ans = numerator / denominator
        return ans
    except ZeroDivisionError:
        print("分母不可以為零！")
    except TypeError:
        print("輸入文字的錯誤")
        
divide(4,2)
divide(4,0)
divide(4,"a")

分母不可以為零！
輸入文字的錯誤

In [124]:
def divide(numerator, denominator):
    return numerator/denominator
divide(4,"a")

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [ ]:
#練習：幫 divide() 函數多加一個 except 是處理輸入文字的錯誤